<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChainmailleDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChainmailleDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <ChainmailleDesigner.Properties.Settings>
            <setting name="PatternDirectory" serializeAs="String">
                <value>C:\Chainmaille Designer\Weaves</value>
            </setting>
            <setting name="DesignDirectory" serializeAs="String">
                <value>C:\Chainmaille Designer\Designs</value>
            </setting>
            <setting name="CurrentPattern" serializeAs="String">
                <value>Hex\HexSmall</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="OutlineColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="MaterialPalette" serializeAs="String">
                <value>RingLord\AnodizedAluminum</value>
            </setting>
            <setting name="PaletteDirectory" serializeAs="String">
                <value>C:\Chainmaille Designer\Colors</value>
            </setting>
            <setting name="DesignerName" serializeAs="String">
                <value />
            </setting>
            <setting name="GuidelineColor" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
        </ChainmailleDesigner.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ChainmailleDesigner.Properties.Settings>
            <setting name="UnspecifiedElementColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="PatternFileFilter" serializeAs="String">
                <value>Pattern File|*.xml;*.ini|XML File|*.xml|IGP Pattern File|*.ini</value>
            </setting>
            <setting name="DesignFileFilter" serializeAs="String">
                <value>Design File (*.xml)|*.xml|Image File|*.bmp;*.png;*.tif|Bitmap (*.bmp)|*.bmp|Portable Network Graphic (*.png)|*.png|Tagged Image File (*.tif)|*.tif</value>
            </setting>
            <setting name="ImageFileFilter" serializeAs="String">
                <value>Image File|*.bmp;*.gif;*.jpg;*.png;*.tif|Bitmap (*.bmp)|*.bmp|Graphics Interchange Format (*.gif)|*.gif|Joint Photographic Experts Group (*.jpg)|*.jpg|Portable Network Graphic (*.png)|*.png|Tagged Image File (*.tif)|*.tif</value>
            </setting>
            <setting name="PaletteFileFilter" serializeAs="String">
                <value>Palette File (*.xml)|*.xml</value>
            </setting>
            <setting name="PaletteSelectedColorImageFile" serializeAs="String">
                <value>.\ColorIndicator2Rings.bmp</value>
            </setting>
            <setting name="ReportFileFilter" serializeAs="String">
                <value>Any File (*.*)|*.*|Text File (*.txt)|*.txt</value>
            </setting>
            <setting name="DesignFileOutFilter" serializeAs="String">
                <value>Design File (*.xml)|*.xml</value>
            </setting>
            <setting name="HelpUrl" serializeAs="String">
                <value>https://github.com/CMAlbrecht/ChainmailleDesigner/Documentation/WebHelp/index.html</value>
            </setting>
            <setting name="LicenseFileName" serializeAs="String">
                <value>LICENSE.rtf</value>
            </setting>
            <setting name="ColorImageFileFilter" serializeAs="String">
                <value>Image File|*.bmp;*.png;*.tif|Bitmap (*.bmp)|*.bmp|Portable Network Graphic (*.png)|*.png|Tagged Image File|*.bmp;*.png;*.tif|Bitmap (*.bmp)|*.bmp|Portable Network Graphic (*.png)|*.png|Tagged Image File (*.tif)|*.tif</value>
            </setting>
        </ChainmailleDesigner.Properties.Settings>
    </applicationSettings>
</configuration>
